body{
    background-color: #f8f8f8;
}
/* Formulario */
#form-container{
    background-color: #fff;
    border-radius: 20px;
    box-shadow: .5px 10px 15px rgba(0, 0, 0, .2);
    margin: 25px auto;
    padding: 25px;
}
